#SeccionEventosOfertas{
	position: absolute;
}

#solapa_eventos{

	left: 20px;
	

	top: 60px;

}

#solapa_ofertas{

	left: 119px;
	top: 60px;

}

#SeccionEventosOfertas_holder_tabs{

	position: absolute;
	border-top: solid 1px #e5e5e5;
	width: 200px;
	height: 200px;
	top: 96px;
	left: 20px;

}
.ItemListaEvento{
	position: relative !important;
	padding: 10px 5px 8px 20px;
	 border-left: solid 1px #e5e5e5;
	 border-bottom: solid 1px #e5e5e5;
	 border-right: solid 1px #e5e5e5;
}
.ItemListaEvento_txt_nombre{

	 font-family: 'GothamBook';
	 font-size: 13px;
	
}
.ItemListaOferta{
	position: relative !important;
	padding: 10px 5px 8px 20px;
	 border-left: solid 1px #e5e5e5;
	 border-bottom: solid 1px #e5e5e5;
	 border-right: solid 1px #e5e5e5;
}
.ItemListaOferta_txt_nombre{

	 font-family: 'GothamBook';
	 font-size: 13px;

}
.ItemListaOferta_txt_descuento{

	font-family: 'GothamBold';
	 font-size: 13px;
	 color: #ed1c24;
	 position: absolute;
	 

	right: 10px;
	 

	top: 10px;
	

	text-align: right;

}
#SeccionEventosOfertas_btn_ver_en_mapa{
	left: 50%;
}
#SeccionEventosOfertas_btn_subir_mapa{
	left: 50%;

}
.sin_resultados{

	font-family: 'GothamBook';
	margin-top: 10px;
	font-size: 13px;
	color: #ccc;
	width: 100%;
	height: 50px;
	position: relative !important;
	display: block;

}
.sin_resultados div{

	padding: 5px;
	height: 50px;
	position: relative;
}