#FormSubirEvento{
	position: absolute;
	
	
	
	
	
	

}
#FormSubirEvento_holder{
position: absolute;


}
#FormSubirEvento_prox{
position: absolute;
top: 80px;
font-size: 25px;
	width: 100%;
	text-align: center;
	color: #ccc;font-family: 'GothamBold';
}