#Header{
	
	height: 50px;
	position: absolute;
	width: 100%;

	
}
#Header div{
	position: absolute;
}
#Header img{
	
	position: absolute;
	
}
#Header_btn_menu{

left: 0px;

top: 18px;

}

#Header_logito{
	width: 25px;
	left: 30px;
	top: 20px;
}
#Header_lupa{
	width: 16px;
	right: 50%;
	top: 26px;
}


#Header_search{
	right: 50%;
	margin-right: -145px;
	border-radius: 20px;
	background-color: #fff;
	border: none;
	top: 18px;
	height: 30px;
	position: absolute;
	padding: 0px;
	outline: none;
	font-family: 'GothamBook';
	font-size: 12px;
	padding-left: 35px;
 	-webkit-border-radius: 20px;
	-webkit-appearance: none;
	background-image: url(../img/header/lupa.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 9px 8px;
	
}
