#SeccionMapa{
	position: absolute;

}
#SeccionMapa img{
	position: absolute;

}
#SeccionMapa div{
	position: absolute;

}
#SeccionMapa_map_canvas{

	top: 0px;
	left: 0px;
	border-radius: 10px;

}

#SeccionMapa_esquina_si{

	top: 59px;
	left: 6px;
}

#SeccionMapa_map_canvas img{

/*	-webkit-transform: scale(1, 1); 
*/

}
