#SeccionMenu{
	


	
}
#SeccionMenu_header_bg{
	width: 100%;
	height: 40px;
	background-color: #000;
	opacity: 0.3;
	position: absolute;
	top: 60px;
	color: #fff;
	left: 10px;


}
#SeccionMenu_header{

	font-family: 'GothamBold';
    

	font-size: 17px;
    

	top: 70px;
    

	left: 29px;


	color: #fff;

	position: absolute;

}
.ItemMenu{
	position: relative;
	font-family: 'GothamBook';
	font-size: 16px;
	color: #fff;
	border-bottom: solid 1px #fff;
	padding: 10px 10px 10px 40px;
	margin-left: 10px;
}